// CSS Helper Classes


// Variables
$base-space-unit:          1em !default;
$base-radius-unit:         3px !default;
$base-rounded-radius-unit: 1000px !default;


// Colors
$white        :   #fff !default;
$gray         :   #2c3e50 !default;
$darkgray     :   #95a5a6 !default;
$dark         :   #2c3e50 !default;
$muted        :   #777 !default;
$primary      :   #0275d8 !default;
$success      :   #5cb85c !default;
$info         :   #5bc0de !default;
$warning      :   #f0ad4e !default;
$danger       :   #d9534f !default;
$border-color :   #ecf0f1 !default;
$border-color-dark: #bdc3c7 !default;


// Floats
.left   { float: left !important; }
.right  { float: right !important; }

// Clearfix
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after { clear: both; }
}


// Z-index
.zindex-1 { z-index: 1; }
.zindex-2 { z-index: 2; }
.zindex-3 { z-index: 3; }
.zindex-4 { z-index: 4; }


// Positions
.fixed    { position: fixed !important; }
.relative { position: relative !important; }
.absolute { position: absolute !important; }
.static   { position: static !important; }


// Align
.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }
.text-just      { text-align: justify; }

.align-top      { vertical-align: top; }
.align-bottom   { vertical-align: bottom; }
.align-middle   { vertical-align: middle; }
.align-baseline { vertical-align: baseline; }


// Width && Height
.fit              { max-width: 100% !important; }
.half-width       { width: 50% !important; }
.full-width       { width: 100% !important; }
.full-height      { height: 100% !important; }


// Overflow
.overflow-hidden  { overflow: hidden !important; }
.overflow-visible { overflow: visible !important; }
.overflow-auto    { overflow: auto !important; }


// Display
.inline       { display: inline; }
.block        { display: block; }
.inline-block { display: inline-block; }
.table        { display: table; }
.table-cell   { display: table-cell; }
.flex         { display: flex; }
.hidden       { 
    display: none !important;
    visibility: hidden;
}
.visible      { display: block !important; }
.invisible    { visibility: hidden; }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// Color
.text-muted { color: #777; }
.text-white       { color: $white; }
.text-gray        { color: $gray; }
.text-dark-gray   { color: $darkgray; }
.text-primary     { color: $primary; }
.text-success     { color: $success; }
.text-info        { color: $info; }
.text-warning     { color: $warning; }
.text-danger      { color: $danger; }


// Background Colors
.bg-white         { background-color: $white; }
.bg-gray          { background-color: $gray; }
.bg-dark-gray     { background-color: $darkgray; }

.bg-primary     { background-color: $primary; }
.bg-success     { background-color: $success; }
.bg-info        { background-color: $info; }
.bg-warning     { background-color: $warning; }
.bg-danger      { background-color: $danger; }


// Typography
.bold      { font-weight: bold; }
.regular   { font-weight: normal; }
.italic    { font-style: italic; }
.underline { text-decoration: underline; }


// Text Transform
.text-uppercase  { text-transform: uppercase; }
.text-lowercase  { text-transform: lowercase; }
.text-capitalize { text-transform: capitalize; }


// Text Controlls
.ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.break-word { word-wrap: break-word; }
.no-wrap    { white-space: nowrap; }
.text-hide  {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}


// Font Size
.font-8    { font-size: 8px; }
.font-9    { font-size: 9px; }
.font-10   { font-size: 10px; }
.font-11   { font-size: 11px; }
.font-12   { font-size: 12px; }
.font-13   { font-size: 13px; }
.font-14   { font-size: 14px; }
.font-15   { font-size: 15px; }
.font-16   { font-size: 16px; }
.font-17   { font-size: 17px; }
.font-18   { font-size: 18px; }
.font-19   { font-size: 19px; }
.font-20   { font-size: 20px; }


// Lists
.no-bullets     { list-style: none; }
.bullets-inside { list-style: inside; }
.list-bare {
  margin: 0;
  padding: 0;
  @extend .no-bullets;
}


// Border
.border-0         { border:         0 !important; }
.border-all           { border:         1px solid $border-color; }
.border-top           { border-top:     1px solid $border-color; }
.border-bottom        { border-bottom:  1px solid $border-color; }
.border-right         { border-right:   1px solid $border-color; }
.border-left          { border-left:    1px solid $border-color; }

.border-all-dark     { border:         1px solid $border-color-dark; }
.border-top-dark     { border-top:     1px solid $border-color-dark; }
.border-bottom-dark  { border-bottom:  1px solid $border-color-dark; }
.border-right-dark   { border-right:   1px solid $border-color-dark; }
.border-left-dark    { border-left:    1px solid $border-color-dark; }


// Border Radius
.radius                  { border-radius: $base-radius-unit; }
.radius-top              { border-radius: $base-radius-unit $base-radius-unit 0 0; }
.radius-right            { border-radius: 0 $base-radius-unit $base-radius-unit 0; }
.radius-bottom           { border-radius: 0 0 $base-radius-unit $base-radius-unit; }
.radius-left             { border-radius: $base-radius-unit 0 0 $base-radius-unit; }
.round                   { border-radius: $base-rounded-radius-unit; }


// Margin
.m-0  { margin: 0 !important; }
.m-5  { margin: 5px !important; }
.m-10 { margin: 10px !important; }
.m-15 { margin: 15px !important; }
.m-20 { margin: 20px !important; }
.m-25 { margin: 25px !important; }

// Top
.m-t-0  { margin-top: 0 !important; }
.m-t-5  { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-25 { margin-top: 25px !important; }

// Right
.m-r-0  { margin-right: 0 !important; }
.m-r-5  { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-r-25 { margin-right: 25px !important; }

// Bottom
.m-b-0  { margin-bottom: 0 !important; }
.m-b-5  { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-25 { margin-bottom: 25px !important; }

// Left
.m-l-0  { margin-left: 0 !important; }
.m-l-5  { margin-left: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-15 { margin-left: 15px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-l-25 { margin-left: 25px !important; }

// X(Left-Right)
.m-x-0  { margin-right: 0 !important; margin-left: 0 !important; }
.m-x-5  { margin-right: 5px !important;  margin-left: 5px !important; }
.m-x-10 { margin-right: 10px !important; margin-left: 10px !important; }
.m-x-15 { margin-right: 15px !important; margin-left: 15px !important; }
.m-x-20 { margin-right: 20px !important; margin-left: 20px !important; }
.m-x-25 { margin-right: 25px !important; margin-left: 25px !important; }

// Y(Top-Bottom)
.m-y-0  { margin-top: 0 !important; margin-bottom: 0 !important; }
.m-y-5  { margin-top: 5px !important;  margin-bottom: 5px !important; }
.m-y-10 { margin-top: 10px !important; margin-bottom: 10px !important; }
.m-y-15 { margin-top: 15px !important; margin-bottom: 15px !important; }
.m-y-20 { margin-top: 20px !important; margin-bottom: 20px !important; }
.m-y-25 { margin-top: 25px !important; margin-bottom: 25px !important; }


// Padding
.p-0  { padding: 0 !important; }
.p-5  { padding: 5px !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-20 { padding: 20px !important; }
.p-25 { padding: 25px !important; }

// Top
.p-t-0  { padding-top: 0 !important; }
.p-t-5  { padding-top: 5px !important; }
.p-t-10 { padding-top: 10px !important; }
.p-t-15 { padding-top: 15px !important; }
.p-t-20 { padding-top: 20px !important; }
.p-t-25 { padding-top: 25px !important; }

// Right
.p-r-0  { padding-right: 0 !important; }
.p-r-5  { padding-right: 5px !important; }
.p-r-10 { padding-right: 10px !important; }
.p-r-15 { padding-right: 15px !important; }
.p-r-20 { padding-right: 20px !important; }
.p-r-25 { padding-right: 25px !important; }

// Bottom
.p-b-0  { padding-bottom: 0 !important; }
.p-b-5  { padding-bottom: 5px !important; }
.p-b-10 { padding-bottom: 10px !important; }
.p-b-15 { padding-bottom: 15px !important; }
.p-b-20 { padding-bottom: 20px !important; }
.p-b-25 { padding-bottom: 25px !important; }

// Left
.p-l-0  { padding-left: 0 !important; }
.p-l-5  { padding-left: 5px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-l-15 { padding-left: 15px !important; }
.p-l-20 { padding-left: 20px !important; }
.p-l-25 { padding-left: 25px !important; }

// X(Left-Right)
.p-x-0  { padding-right: 0 !important; padding-left: 0 !important; }
.p-x-5  { padding-right: 5px !important;  padding-left: 5px !important; }
.p-x-10 { padding-right: 10px !important; padding-left: 10px !important; }
.p-x-15 { padding-right: 15px !important; padding-left: 15px !important; }
.p-x-20 { padding-right: 20px !important; padding-left: 20px !important; }
.p-x-25 { padding-right: 25px !important; padding-left: 25px !important; }
 
// Y(Top-Bottom)
.p-y-0  { padding-top: 0 !important; padding-bottom: 0 !important; }
.p-y-5  { padding-top: 5px !important;  padding-bottom: 5px !important; }
.p-y-10 { padding-top: 10px !important; padding-bottom: 10px !important; }
.p-y-15 { padding-top: 15px !important; padding-bottom: 15px !important; }
.p-y-20 { padding-top: 20px !important; padding-bottom: 20px !important; }
.p-y-25 { padding-top: 25px !important; padding-bottom: 25px !important; }